$gold-color:#AA863A;



$shape-color: #c42626;
$red-color: #c42626;
$blue-color: #2C82C9;
$green-color: #41A85F;
$yellow-color: #FAC51C;
$purple-color: #9365B8;
$orange-color: #F37934;
$turquoise-color: #1ABC9C;
$pink-color: #ffbac6;
$black-color: #000000;
$grey-color: #7e7c7c;
